<% if(products.length > 0){ %>
    <%for (let product of products) {%>
        <div class="card m-3 ms-4" style="min-width: 15rem; max-width: 25rem; background-color:#4C6793">
            <img src="<%=product.foto%>" class="card-img-top">
            <div class="card-body">
                <h3 class="card-title"><%=product.nombre%></h3>
                <p class="card-text"><%=product.descripcion%></p>
                <h5 class="card-text">US$<%=product.precio%></h5>
                <div class="d-grid">
                    <button class="btn btn-primary m-3 btn-product" id='<%=product.id%>'><i class="bi bi-cart2"></i> Add to Cart</button>
                </div>
            </div>
        </div>
    <%}%>
<% } else{ %>
    <h3 class="alert alert-danger">No data found</h3>
<% } %>